html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto:300,400,500,700,900&display=swap&subset=latin-ext")
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            h1 #{title}
            p #{message}
            span(class="emoji") 🤙
            p(class="text") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, sed exercitationem quisquam quaerat nulla enim ex fuga soluta numquam neque ipsam dolor dicta aut cupiditate voluptatem perspiciatis, maiores culpa delectus.
            span Request time is <b>#{time}</b>
            hr
            .links
                a(href="http://localhost:5000" class="button") home
                a(href="http://localhost:5000/newsletter" class="button") newsletter
                a(href="http://localhost:5000/error" class="button") get error


        