html {
    font-size: 62.5%;
}

body {
    margin: 0;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: url('../images/donotthink.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: rgba(13, 60, 76, 0.8);
    box-shadow: 0px 0px 4px 1px rgba(213, 230, 225, 0.6);
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    max-width: 650px;
    position: relative;
}

.emoji {
    position: absolute;
    font-size: 3rem;
    bottom: 2rem;
    left: 2rem;
}

.links {
    text-align: right;
    padding: 1rem 0rem;
}

h1 {
    color: #FFFFFF;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.1rem;
    text-align: center;
}

p {
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6;
}

span {
    color: #e1e0cc;
    font-size: 1.2rem;
    text-align: center;
}

.button {
    /* background-color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #0D3C4C;
    margin-left: 0.5rem;
    display: inline-block; */
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.button.error {
    color: #0f7995;
}

.button:hover {
    color: #2aa29b;
    text-decoration: underline;
}

/* form styles */
.form {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.form-control {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid white;
    background-color: rgb(13, 60, 76);
    outline: none;
    font-size: 1.6rem;
    color: white;
}

.form-control:focus {
    border: 1px solid rgb(13, 60, 76);
    background-color: white;
    color: rgb(13, 60, 76);
}

.form-group.btn {
    text-align: right;
}

.btn-submit {
    border: initial;
    background-color: #2aa29b;
    text-decoration: none;
    padding: 1rem 2rem;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: white;
    color: #2aa29b
}